/**
*
* THEME SPECIFIC COMPONENTS
*
*/

$color-red: red;
$color-green: green;
$color-purple: purple;

.header {
  background: $color-primary;
  padding: 1.5rem;
}

.main {
  padding: 2.5rem 0;
}

%squiggle-styles {
  width: 6rem;
  height: 8rem;
  margin: 1rem;
  border: 5px solid #465298;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: skew(10deg);
}

%diamond-styles {
  width: 6rem;
  height: 6rem;
  margin: 2rem;
  border: 5px solid #465298;
  transform: rotate(45deg);
}

%circle-styles {
  width: 6rem;
  height: 6rem;
  margin: 2rem;
  border: 5px solid #465298;
  border-radius: 50%;
}

.transparent {
  border: 5px solid;
}

.shaded {

}

.opaque {
  
}

.card {
  box-shadow: 0 2px 5px $color-grey-dark;
  cursor: pointer;
  transition: all .1s ease-in;

  &:hover {
    box-shadow: 0 2px 7px $color-grey-dark;
    transform: translateY(-2px);
  }
}

.game-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 12rem;

  
  &__squiggle--shaded {
    @extend %squiggle-styles;
    background: repeating-linear-gradient(
      45deg,
      #465298,
      #465298 10px,
      #fefefe 10px,
      #fefefe 20px
    );
  }

  &__squiggle--transparent {
    @extend %squiggle-styles;
  }

  &__squiggle--opaque {
    @extend %squiggle-styles;
    background: #465298;
  }

  &__diamond--shaded {
    @extend %diamond-styles;
    background: repeating-linear-gradient(
      45deg,
      #465298,
      #465298 10px,
      #fefefe 10px,
      #fefefe 20px
    );
  }

  &__diamond--transparent {
    @extend %diamond-styles;
  }

  &__diamond--opaque {
    @extend %diamond-styles;
    background: #465298;
  }

  &__circle--shaded {
    @extend %circle-styles;
    background: repeating-linear-gradient(
      45deg,
      #465298,
      #465298 10px,
      #fefefe 10px,
      #fefefe 20px
    );
  }

  &__circle--transparent {
    @extend %circle-styles;
  }

  &__circle--opaque {
    @extend %circle-styles;
    background: #465298;
  }

}

.footer {
  background: $color-primary;
  padding: 1.5rem 0;
}