/**
*
* THEME SPECIFIC COMPONENTS
*
*/

.header {
  background: $color-primary;
  padding: 1.5rem;
}

.main {
  padding: 2.5rem 0;
}

.game-card {
  box-shadow: 0 2px 5px $color-grey-dark;
  
}

.footer {
  background: $color-primary;
  padding: 1.5rem 0;
}