/**
*
* THEME SPECIFIC COMPONENTS
*
*/

$color-red: red;
$color-green: green;
$color-purple: purple;

.header {
  background: $color-primary;
  color: $color-grey-light;
  padding: 1.5rem;
}

.profile {
  background: blue;
  text-align: center;
}

.modal {
  max-width: 40rem;
}

.main {
  padding: 2.5rem 0;
}

.game-card {
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 12rem;
    margin: 1.5rem;
    transform: scale(1);
    box-shadow: 0 2px 5px $color-grey-dark;
    cursor: pointer;
    transition: transform .2s ease-out;
  }

// animation classes for selected cards
.clicked {
  box-shadow: 0 0 10px 5px blue;
}

.shrink {
  transform: scale(0);
}

.shrink > div {
  opacity: 0;
}

.grow {
  transform: scale(1);
}

// SHAPE CLASSES
.squiggle {
    width: 5rem;
    height: 6rem;
    margin: 1rem;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: skew(10deg);
}

.diamond {
    width: 5rem;
    height: 5rem;
    margin: 0 1.5rem;
    transform: rotate(45deg);
}

.oval {
    width: 6rem;
    height: 6rem;
    margin: 0 1rem;
    border-radius: 50%;
}

.red {
    border-color: $color-red !important;
    background-color: $color-red;
}

.green {
    border-color: $color-green !important;
    background-color: $color-green;
}

.purple {
    border-color: $color-purple !important;
    background-color: $color-purple;
}

.transparent {
  border: 5px solid;
  background-color: transparent;
}

.opaque {
    border: 5px solid;
}

.shaded {
    border: 5px solid;
    background: repeating-linear-gradient(
      45deg,
      #777,
      #777 5px,
      #fefefe 5px,
      #fefefe 12px
    );
}

// END SHAPE CLASSES

.footer {
  background: $color-primary;
  color: $color-grey-light;
  padding: 1.5rem 0;
}

// Animations
.grow-center {
  animation: grow-center .5s ease-out;
}

@keyframes grow-center {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}